<section id="contact">
  <div class="uk-card uk-card-default uk-width-1-2@m">
    <div class="uk-card-body">
      <form>
        <fieldset class="uk-fieldset">

          <legend class="uk-legend">Fancy a chat?</legend>

          <div class="uk-margin">
            <input class="uk-input" type="text" placeholder="Subject">
          </div>

          <div class="uk-margin">
            <input class="uk-input" type="email" placeholder="E-mail">
          </div>

          <div class="uk-margin">
            <textarea class="uk-textarea" rows="5" placeholder="Message"></textarea>
          </div>

          <button class="uk-button-default uk-button">Send <i class="fas fa-paper-plane"></i></button>
        </fieldset>
      </form>
    </div>
  </div>
  <footer>
    <p>Built with Angular & NestJs by Campbell Louis</p>
  </footer>
</section>


