section
  position relative
  background-color #F2ECEA
  height 100vh
  width 100vw
  display flex
  align-items center
  justify-content center
  background-image url("/assets/sec1.svg")
  background-repeat no-repeat
  background-position bottom
  .uk-legend
    font-family sofia
    text-align center
    color #F2545B
    font-size 2rem
    margin-bottom 5vh
  .uk-button-default
    background-color #F2545B
    color white
  footer
    font-size 0.7rem
    color white
    display flex
    justify-content center
    width 100vw
    background-color transparent
    position absolute
    bottom 0
    left 0


