/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sofia&display=swap');
*
  font-family Montserrat
  scroll-behavior smooth
body
  overflow-x hidden

.uk-button-primary
  background-color #F2545B
  &:hover
    background-color lighten(#F2545B,25%)


