@media screen and (max-width: 768px)
  section
    display flex
    flex-direction column
    align-items center
    justify-content space-around
    div
      flex-basis auto
  img
    width 75%

section
  height 100vh
  display flex
  background-color  #F2ECEA

  div
    display flex
    flex-direction column
    align-items center
    justify-content center
    flex-basis 50%


section#workers
  background-image: url("/assets/sec1.svg")
  background-repeat no-repeat
  background-position bottom
  background-size 110vw
  background-color F7F1EF
section#skills
  margin-top -2vh
  background-image url("/assets/sec2.svg")
  background-size 110vw
  background-position bottom
  h1
    color white
  p
    color darken(white,10%)
section#coffee
  margin-top -2vh
  background-image: url("/assets/sec3.svg")
  background-repeat no-repeat
  background-position top
  background-size 110vw

