<div id="howtoplay">
  <section id="workers">
    <div>
      <img src="/assets/purepng.webp">
    </div>
    <div>
      <h1>Manage your workers</h1>
      <p>
        Hire new Workers according to your needs and budgets.
      </p>
    </div>
  </section>
  <section id="skills">
    <div><h1>Upgrade your skills</h1>
      <p>
        Acquire new skills to develop your coffee empire.
      </p></div>
    <div><img src="/assets/apple-ipad-pro-11-inch-price-colors-specs-more-att-christian-ipad-png-463_642.png"></div>
  </section>
  <section id="coffee">
    <div><img src="/assets/samsung-galaxy-s10-ceramic-black-front-lph.webp"></div>
    <div>
      <h1>Upgrade your skills</h1>
      <p>
        Acquire new skills to develop your coffee empire.
      </p>
    </div>
  </section>
</div>

